<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">-->
<!--<head>-->
<!--    <title>Properties on Map</title>-->
<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />-->
<!--    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>-->
<!--    &lt;!&ndash; Leaflet Draw JS &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>-->

<!--    <style>-->
<!--        /* Map container takes the full remaining height */-->
<!--        #map {-->
<!--            height: calc(100vh - 0px) !important;-->
<!--        }-->
<!--    </style>-->

<!--</head>-->
<!--<body>-->
<!--<section layout:fragment="header">-->
<!--    <h1>Properties MapView</h1>-->
<!--    <ol class="breadcrumb">-->
<!--        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>-->
<!--        <li class="active">Properties MapView</li>-->
<!--    </ol>-->
<!--</section>-->
<!--<div layout:fragment="content">-->
<!--    <div id="map"></div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->