.searchInputFAQs {
    @apply mr-lg;
    margin-bottom: 10px;
    input{
      margin-bottom: 0;
      background: border-box;
      @apply pr-xl;
    }
  }

.faq-page{
  width: 92%;
  margin: var(--spacing-md);
}

.faqs{
  cursor: pointer;
  .faq-question{
    font-weight: var(--weight-regular);
    margin: var(--spacing-md);
    background: #fff;
    justify-content: space-between;
    display: flex;
    font-size: var(--font-size-md);
  }

  .faqicon{
    float: right;
  }

  .faq-answer{
    background: #fff;
    overflow: hidden;
    margin: 5px;
    @apply text-form-field text-text-secondary mb-sm;

    span {
      display: block; 
      font-size: var(--font-size-sm);
      font-weight: var(--weight-regular);
      margin: 0px 12px 5px
    }
  }
  .cs-box-border {
    height: 1px;
    position: relative;
    border-bottom: var(--border-width-sm) solid lightgray;;
    background: lightgray;
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
  }
}

.faq-list{
  background: #fff;
  margin: 5px 0;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}
  
.rotate {
  transform: rotate(90deg);
}
  