.language-selector {
  @apply flex flex-wrap;
}

.language-selector div:not(:first-child) {
  margin-left: var(--spacing-sm);
}
.bannerCard .language-button-container button {
  width: 6.2rem;
  height: 2.5rem;
}
.bannerCard .customBtn {
  border-color: var(--text-secondary);
}
.bannerCard .customBtn:focus {
  outline: none;
}
.bannerCard .customBtn-selected {
  border-color: transparent;
  background-color: var(--primary-main) !important;
}
.bannerCard .bannerHeader p {
  font-size: var(--font-size-xl);
}
