.PropertySearchForm {
  .pt-search-action {
    @apply w-full;
    display: flex;
    margin-right: 10px;
    justify-content: end;
    align-items: center;
    .pt-search-action-submit button {
      width: 100% !important;
    }
    .pt-search-action-reset {
      text-align: right;
      cursor: pointer;
    }
  }

  .PropertySearchFormSwitcher{
    border-bottom: var(--border-width-sm) solid var(--border);
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    .non-selected {
      color: var(--text-secondary);
      font-weight: var(--weight-regular);
    }
    .selected {
      color: var(--focus);
      font-weight: var(--weight-bold);
      padding-bottom: 10px;
      border-bottom: var(--border-width-md) solid var(--focus);
    }
    span {
      margin-right: 20px;
    }
  }


  .form-field {
    width: 30% !important;
    margin-bottom: 20px;
  }
  @media (min-width: 780px) {
    .pt-form-field{
      width: 30% !important;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 780px) {
  .form-field{
    width: 100% !important;
    margin-bottom: 15px;
  }
  .pt-form-field{
    width: 100% !important;
    margin-bottom: 15px;
  }
  }
}
