.rating-star-wrap {
  @apply flex w-full mb-lg;
  img {
    width: var(--spacing-2xl);
    height: 38px;
    display: block;
    @apply mr-sm;
  }

  svg {
    width: var(--spacing-2xl);
    height: 38px;
    display: block;
    @apply mr-sm;
  }
}

@screen dt {
  .rating-star-wrap {
    @apply w-2/5;
  }
}

.rating-with-text {
  @apply flex place-items-center w-full;

  svg {
    width: var(--spacing-lg);
    height: 38px;
    display: block;
    @apply mr-sm;
  }
}
