.SearchOnRadioButton{
    svg{
        fill: var(--text-secondary);
        width: var(--spacing-lg);
        height: var(--spacing-lg);
        top: var(--spacing-sm);
        right: var(--spacing-sm);
        @apply absolute;
    }
}