.summary-wrapper {
  @apply flex justify-around;

  .wrapper-child {
    @apply flex flex-col justify-center flex-grow;
  }

  .blocks {
    display: flex;
    margin-bottom: 25px;

    p:only-child {
      font-weight: var(--weight-bold);
      font-size: var(--font-size-2xl);
    }

    div {
      margin-right: 25px;

      p:not(:first-child) {
        font-weight: var(--weight-bold);
        font-size: var(--font-size-2xl);
      }
    }
  }
}
.summary-card-margin{
  margin:0 var(--spacing-lg) 20px 0px !important;
}